<div *ngFor="let elem of action.elements" [formGroup]="group">
  <ng-container [ngSwitch]="elem.type">
    <div *ngSwitchDefault>Unknown type {{elem.type}}</div>
    <mat-form-field *ngSwitchCase="'text'">
      <mat-label>{{elem.label}}</mat-label>
      <input [formControlName]="elem.name" matInput>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'">
      <mat-label>{{elem.label}}</mat-label>
      <input type="number" [formControlName]="elem.name" matInput>
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="elem.name">{{elem.label}}</mat-checkbox>

    <mat-form-field *ngSwitchCase="'textarea'">
      <mat-label>{{elem.label}}</mat-label>
      <textarea [formControlName]="elem.name" matInput></textarea>
    </mat-form-field>

    <div *ngSwitchCase="'slider'">
      <mat-label>{{elem.label}}</mat-label>
      <mat-slider [formControlName]="elem.name" (input)="patch(elem.name, $event.value)" class="w-100"></mat-slider>
    </div>

    <mat-form-field *ngSwitchCase="'filepicker'">
      <mat-label>{{elem.label}}</mat-label>
      <input [formControlName]="elem.name" matInput>
    </mat-form-field>

    <div *ngSwitchCase="'label'">
      <mat-label>{{elem.value}}</mat-label>
    </div>

  </ng-container>
</div>
