.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

.idea

### VS Code ###
/core/src/main/resources/public/
/core/src/main/resources/application-default.properties
/settings.mv.db
/settings.trace.db
/volumecontrol/src/main/resources/SndCtrl.dll

/sndctrlpp/.vs/
*.vcxproj*
*.sln
/sndctrlpp/x64/
