mat-drawer-container {
  width: 100%;
  height: 100%;
}

mat-drawer-content {
  padding: 1em 0 0 1em;
}

mat-drawer-content > div {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

hue-component, chrome-picker {
  margin: 1em 0;
}

:host ::ng-deep {
  .pointer {
    border: 1px solid black !important;
    background-color: white !important;
  }
}
