html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100%;
}

.flex-static {
  flex: 0 0 auto;
}

.flex-grow {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}

.cur-p {
  cursor: pointer;
}
