<div *ngFor="let elem of action.elements" [formGroup]="group">
  <ng-container [ngSwitch]="elem.type">
    <div *ngSwitchDefault>Unknown type {{elem.type}}</div>
    <mat-form-field *ngSwitchCase="'text'">
      <mat-label>{{elem.label}}</mat-label>
      <input [formControlName]="elem.name" matInput>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'">
      <mat-label>{{elem.label}}</mat-label>
      <input type="number" [formControlName]="elem.name" matInput>
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="elem.name">{{elem.label}}</mat-checkbox>

    <mat-form-field *ngSwitchCase="'textarea'">
      <mat-label>{{elem.label}}</mat-label>
      <textarea [formControlName]="elem.name" matInput></textarea>
    </mat-form-field>

    <div *ngSwitchCase="'slider'">
      <mat-label>{{elem.label}}</mat-label>
      <mat-slider [formControlName]="elem.name" (input)="patch(elem.name, $event.value)" class="w-100"></mat-slider>
    </div>

    <mat-form-field *ngSwitchCase="'filepicker'">
      <mat-label>{{elem.label}}</mat-label>
      <input [formControlName]="elem.name" matInput>
    </mat-form-field>

    <div *ngSwitchCase="'label'">
      <mat-label>{{elem.value}}</mat-label>
    </div>

    <div *ngSwitchCase="'list'">
      <!-- Delayed on options so that the initial value is correctly displayed -->
      <mat-form-field *ngIf="listOptions[elem.name] | async as options">
        <mat-label>{{elem.label}}</mat-label>
        <input matInput type="text" placeholder="Pick one" [formControlName]="elem.name" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="listDisplayFn(elem.name)">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.display}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'color'">
      <mat-label>{{elem.label}}</mat-label>
      <chrome-picker [color]="group.get(elem.name)!.value" (colorChange)="group.get(elem.name)!.setValue($event)" [control]="colorControls[elem.name]"></chrome-picker>
    </div>
  </ng-container>
</div>
