<ng-container *ngIf="state$ | async as state">
  <div><h1> {{state.title}} </h1></div>
  <nav mat-tab-nav-bar>
    <a *ngIf="state.hasButton" mat-tab-link routerLink="click" routerLinkActive #click="routerLinkActive" [active]="click.isActive"> Click </a>
    <a *ngIf="state.hasAnalog" mat-tab-link routerLink="analog" routerLinkActive #analog="routerLinkActive" [active]="analog.isActive"> Analog </a>
    <a mat-tab-link routerLink="light" routerLinkActive #light="routerLinkActive" [active]="light.isActive"> Light </a>
    <a *ngIf="state.hasLabelLight" mat-tab-link routerLink="label-light" routerLinkActive #labelLight="routerLinkActive" [active]="labelLight.isActive"> Label light </a>
  </nav>
</ng-container>
<router-outlet></router-outlet>
