<div class="imagemap">
  <img alt="PCPanel Pro" src="assets/pro.png" usemap="#image-map">
  <map name="image-map">
    <area alt="Knob 1" title="Knob 1" routerLink="./knob/1/click" coords="173,108,54" shape="circle">
    <area alt="Knob 2" title="Knob 2" routerLink="./knob/2/click" coords="308,109,56" shape="circle">
    <area alt="Knob 3" title="Knob 3" routerLink="./knob/3/click" coords="108,206,52" shape="circle">
    <area alt="Knob 4" title="Knob 4" routerLink="./knob/4/click" coords="242,207,53" shape="circle">
    <area alt="Knob 5" title="Knob 5" routerLink="./knob/5/click" coords="375,206,54" shape="circle">
    <area alt="Slider 1" title="Slider 1" routerLink="./slider/1/analog" coords="42,277,131,571" shape="rect">
    <area alt="Slider 2" title="Slider 2" routerLink="./slider/2/analog" coords="137,278,213,572" shape="rect">
    <area alt="Slider 3" title="Slider 3" routerLink="./slider/3/analog" coords="260,278,344,577" shape="rect">
    <area alt="Slider 4" title="Slider 4" routerLink="./slider/4/analog" coords="352,278,432,578" shape="rect">
    <area alt="Logo" title="Logo" routerLink="./logo/0/light" coords="215,531,260,571" shape="rect">
    <area alt="Body" title="Body" routerLink="./body/0/light" coords="20,12,481,602" shape="rect">
  </map>
</div>

<mat-divider [vertical]="true"></mat-divider>
<div class="component">
  <router-outlet></router-outlet>
</div>
